 body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            line-height: 1.6;

        }
        h1 {
            color: blue;
        }
         h2 {
            color: green;
        }
         p {
            margin: 20px;
            font-size: 16px;
            font-size: italic;
            background-color: lightcyan;
            padding: 20px;
            line-height: 1.5;
        }
         nav a {
            text-decoration: none;
            color: black;
            padding: 14px 16px;
            
            text-align: center;
        }
         nav a:hover {
            background-color: lightblue;
            
        }
       /* Creating custom style class */
        .main_nav {
            background-color: lightgray;
            padding: 10px;
        }